h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
    font-size: 60px;
    color: #FFF;
    background-color: #851944;
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
}

body main {
    background-color: aliceblue;
}

.caixa-projeto {
    background-color: white;
    font-size: 120%;
    
    border: solid 5px black;
    
    width: 320px;
    padding: 15px;
}

.navegacao-site{
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
}

.navegacao-site h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px;
}

.img-repl a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.img-repl li {
    display: inline-block;
}

.img-git {
    background-image: url(/img/github.png);
}

.img-twitter {
    background-image: url(/img/twitter.png);
}

.img-linkedin {
    background-image: url(/img/linkedin.png);
}